apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- operator/ns.yaml
- operator/operator-group.yaml
- operator/subscription.yaml

- instance/managed-cluster-set-binding.yaml
- instance/managed-cluster-set.yaml
- instance/multi-cluster-hub.yaml
- instance/policy-namespace.yaml
