apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../../base/trident

patches:
  - target:
      kind: TridentBackendConfig
      name: post-netapp-nas
      group: trident.netapp.io
      version: v1
    path: tbc-patch.yaml 

